

.header {
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.fondoHeader {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: 1rem 0;
  background-image: url(../../assets/toldo.svg);
  background-position: bottom;
  -webkit-filter: drop-shadow(5px 5px 0px #220d0d27);
}

.logo {
  position: absolute;
  height: fit-content;
  height: 70%;
  margin: 0 auto;
}

.mainBanner {
  width: 100%;
}

@media screen and (max-width: 959px) {
  .fondoHeader {
    height: 100px;
    background-position: bottom;
    background-size: 200%;
  }

  .logo {
    height: 80%;
  }
}