.menuSecciones {
  padding: 1rem 3rem;
}

.tittleSection {
  font-family: Itim, sans-serif;
  font-size: 3rem;
  color: #ffbd72;
  margin-top: 1rem;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 768px) {
  .menuSecciones {
    padding: 0.5rem;
  }
}